.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
  }

.tools {
  
}
  .toolbar button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  .toolbar input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
  }
  